<div class="container" style="min-width: 70%; margin-bottom: 50px">
  <div class="row">
    <div class="col-lg-3">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Windows</mat-card-title>
          <mat-card-subtitle>x86</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/windows.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>Two installers, one installs the ioquake3 engine, the other installs Quake 3 game data and provides the latest patch <kbd>pk3</kbd> data from&nbsp;id. Both are required to play Quake 3.<br>
            If the installer fails to copy the Quake 3 data (<kbd>pak0.pk3</kbd>) from your cd-rom, you can manually do so to your baseq3 directory after installation. The manual method also works for <a href="http://www.steampowered.com/">Steam</a> copies of Quake 3.</p>
          <p>
            <a href="https://ioquake3.org/files/1.36/installer/ioquake3-1.36-3.1.x86.exe"><br>
              Engine Download for Windows</a>, 2.5MB.<br>
            <em>MD5: <kbd>0792b3854fc66dd99bbb26aa9cb2935f</kbd></em><br>
            <a href="https://ioquake3.org/files/1.36/data/ioquake3-q3a-1.32-1.x86.exe">Data Installer for Windows</a>, 26MB.<br>
            <em>MD5: <kbd>3829740942f12e3e6102ea864643aa0d</kbd></em><br>
            <a href="https://ioquake3.org/files/1.36/data/ioquake3-q3ctc-1.4-1.x86.exe">Chase the Chicken Installer for Windows</a>, 2.1MB.<br>
            <em>MD5: <kbd>6b77ebc142be29994843fe143e447fbc</kbd></em>
          </p>

          <p><em>Built from the 1.36 branch.<br>
          </em></p>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg-3">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Linux</mat-card-title>
          <mat-card-subtitle>x86, x86_64, ppc</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/linux.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>One installer per architecture for the ioquake3 engine. Another installer for the Quake 3 game data and provides the latest patch <kbd>pk3</kbd> data from&nbsp;id. Both are required to play Quake 3.<br>
            Execute the <kbd>.run</kbd> file with something like&nbsp;<kbd>sh <em>ioquake3-version_etc.run</em></kbd></p>

          <p><a href="https://ioquake3.org/files/1.36/installer/ioquake3-1.36-7.1.i386.run"><br>
            Engine Download for Linux (x86)</a>, 2.3MB.<br>
            <em>MD5: <kbd>197e79549882004fa6d5671d08414791</kbd><br>
            </em><a href="https://ioquake3.org/files/1.36/installer/ioquake3-1.36-7.1.x86_64.run">Engine Download for Linux (x86_64)</a>, 2.6MB.<br>
            <em>MD5: <kbd>6ab2a126d4b9d622534c696be7e5155a</kbd><br>
            </em></p>

          <p><a href="https://ioquake3.org/files/1.36/data/ioquake3-q3a-1.32-9.run">Data Installer Download for Linux</a>, 27MB.<br>
            <em>MD5: f171b986e508a808e6c6eaf67e9f1bc5</em></p>

          <p><em>Built from the 1.36 branch.<br>
          </em></p>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg-3">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Mac OS X</mat-card-title>
          <mat-card-subtitle>Universal Binary</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/mac.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>Provides latest patch <kbd>pk3</kbd> data from id. You only need to copy&nbsp;the <kbd>pak0.pk3</kbd> file from your legal Quake 3 CD-ROM to complete&nbsp;the installation process.<br>
            Installation instructions are in the <kbd>ReadMe.rtf</kbd> included in&nbsp;the <kbd>dmg</kbd>. An experimental front-end is included for launching ioquake3 and configuring command-line options without invoking <kbd>Terminal.app</kbd>.</p>

          <p><a href="https://ioquake3.org/files/1.36/ioquake3 1.36.dmg"><br>
            DMG Download for Mac OS X (Universal Binary)</a>, 40MB.<br>
            <em>MD5:&nbsp;<kbd>a90844fc3707875cd16ba80b99f0f3a0</kbd></em></p>

          <p><em>Built from the 1.36 branch.<br>
          </em></p>

        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg-3">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>OSP MOD</mat-card-title>
          <mat-card-subtitle>Quake III Arena mod | Released 2003</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/osp.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            For a bit of background, OSP Tourney DM is designed to facilitate competitive, yet flexible, match play. Thismod simply makes it easier and more convenient for players and admins alike to ehance the Quake3 experience. There have absolutely been *NO* changes to the core gameplay or its dynamics - its all default Quake3 in this regard. The latest version of OSP (versions 0.99c and up) now have Challenge Pro Mode capabilities built in! CPM is a careful change to several fundamental aspects of Q3 that facilitate faster gameplay for both players and spectators alike. Check it out! Its loads of fun and adds a lot of spice to "vanilla" Quake3. (For a complete list of changes, check out the CPM-changes.txt file found in the Docs/ directory).
          </p>

          <p><a href="http://osp.dget.cc/orangesmoothie/downloads/osp-Quake3-1.03a_full.zip"><br>
            OSP mod 1.03a FULL</a>, 54MB.<br>
            <em>MD5:&nbsp;<kbd>8b2b4925cce1895067bc617b86c62ea5</kbd></em></p>

          <p><em>Built from the 1.03a.<br>
          </em></p>

        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>
