seta g_quadfactor 3
seta g_gametype 0
seta timelimit {TIME_LIMIT}
seta fraglimit {FRAG_LIMIT}
seta capturelimit {CAPTURE_LIMIT}
seta g_weaponrespawn 3
seta g_inactivity 3000
seta g_forcerespawn 0
seta rconpassword "{RCON_PASSWORD}"

seta g_needpass {NEED_PASSWORD}
seta g_password "{PASSWORD}"

seta sv_hostname "{SERVER_NAME}"
seta sv_maxclients {MAX_CLIENTS}
seta g_motd "{SERVER_MOTD}"

seta sv_allowDownload 8
seta sv_dlURL "{FRONTEND_URL}"

########################################
# Bots
seta bot_enable 1
seta bot_nochat 1
seta g_spskill {BOT_SKILLS}
seta bot_minplayers {MIN_PLAYERS}

## Manual adding of bots. syntax:
## addbot name [skill] [team] [delay]
# addbot doom       4   blue    10
# addbot bones      4   blue    10
# addbot slash      4   blue    10
# addbot orbb       4   red     10
# addbot major      4   red     10
# addbot hunter     4   red     10
# addbot bitterman  4   red     10
# addbot keel       4   red     10
########################################
