seta g_quadfactor 3
seta g_gametype 0
seta timelimit {TIME_LIMIT}
seta fraglimit {FRAG_LIMIT}
seta capturelimit {CAPTURE_LIMIT}
seta g_weaponrespawn 3
seta g_inactivity 3000
seta g_forcerespawn 0
seta rconpassword "{RCON_PASSWORD}"

seta g_needpass {NEED_PASSWORD}
seta g_password "{PASSWORD}"

seta sv_hostname "{SERVER_NAME}"
seta sv_maxclients {MAX_CLIENTS}
seta g_motd "{SERVER_MOTD}"

seta sv_allowDownload 8
seta sv_dlURL "{FRONTEND_URL}"

########################################
# Maps
set d1 "map overkill ; set nextmap vstr d2"
set d2 "map 13place ; set nextmap vstr d3"
set d3 "map q3dm17 ; set nextmap vstr d4"
set d4 "map pro-q3tourney2 ; set nextmap vstr d5"
set d5 "map 13tomb ; set nextmap vstr d6"
set d6 "map pro-q3dm6 ; set nextmap vstr d7"
set d7 "map pro-q3dm13 ; set nextmap vstr d8"
set d8 "map eadm6 ; set nextmap vstr d9"
set d9 "map bubdm1 ; set nextmap vstr d1"
vstr d1
########################################

########################################
# Bots
seta bot_enable 1
seta bot_nochat 1
seta g_spskill {BOT_SKILLS}
seta bot_minplayers {MIN_PLAYERS}

## Manual adding of bots. syntax:
## addbot name [skill] [team] [delay]
# addbot doom       4   blue    10
# addbot bones      4   blue    10
# addbot slash      4   blue    10
# addbot orbb       4   red     10
# addbot major      4   red     10
# addbot hunter     4   red     10
# addbot bitterman  4   red     10
# addbot keel       4   red     10
########################################
