.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-central-pic {
  text-align:center;
  margin-top: 30px;
  margin-bottom: 50px;

}
p {
  font-family: Lato;
}
