upstream api {
  server localhost:9000;
}

server {
  listen   8080;
  listen   [::]:8080 default ipv6only=on;

  # Maps
  location /baseq3 {
    root /home/ioq3srv/ioquake3;
    sendfile           on;
    sendfile_max_chunk 1m;

    if ($http_referer !~* (^ioQ3:\/\/.*)) {
      return 401;
    }

    location ~ (\.cfg$) {
      return 401;
    }
  }

  # API
  location /api {
    proxy_pass http://api;
  }

  # WebApp
  location / {
    root /home/ioq3srv/gui/front;
    try_files $uri /index.html =404;
  }
}
